<div id="" class="r-container">
    <div class="r-navbar">
        <div class="r-navbar-1"><img src="/Images/git title.png" class="r-logo"></div>
        <div class="r-navbar-2">
        <a href="/"><button class="r-btn" >Go to Homepage</button></a>
        &nbsp;&nbsp;
        <button onclick="printDiv('content')" class="r-btn" >Print</button>
        </div>

    </div> 
    <h1 class="title-name" >{{user.name}}</h1>
    <div id="content" class="r-main">
        
        <header>
            <div class="">
                <div class="top-left">
                    {{#if user.avatar_url}}
                        <img src={{user.avatar_url}} alt="avatar"  class="photo"/>
                        {{/if}}
                        {{#if user.email}}
                        <h3><a href="mailto:{{email}}" class="email">{{user.email}}</a></h3>
                        {{/if}}
                    
                    <div id="" class="">
                        <div class=" top-1">
                            <h2>Profile</h2>
                        </div>
                        <div class="top-1">
                            <p class="user-d">
                                GitHub user since {{user.since}}, {{user.name}} is a developer
                                {{user.location}}
                                based in <span class="">{{user.location}}</span>

                                with <a href="https://github.com/{{{user.username}}}?tab=repositories">{{user.repos}}
                                    public {{user.reposLabel}}</a>&nbsp;and <a
                                    href="https://github.com/{{{user.username}}}/followers">{{user.followers}}
                                    {{user.followersLabel}}</a>.
                            </p>
                        </div>
                    </div>
                    <!--// .yui-gf -->
                    {{#if user.website}}
                    <div class="top-1" id="">
                        <div class="top-1">
                            <h2>Website</h2>
                        </div>
                        <div class="top-1" id="">
                            <a href="{{user.website}}" id="website" title="{{user.name}}'s website">{{user.website}}</a>
                        </div>
                    </div>
                    
                  
                </div>

                
                    
                        
                    

            </div>
            
        </header>
        {{/if}}
                    {{#if languages}}
                    <div class="top-2" id="">
                        <div class="">
                            <h2 class="r-heading">Languages</h2>
                        </div>
                        <div class="top-1" id="">

                            <ul class="lang-list">
                                {{#each languages}}
                                <li><h2>{{this.name}}</h2></li>
                                {{/each}}
                            </ul>
                        </div>

                    </div>
        <article>
            <div id="">
                <div class="">

                    
                    {{/if}}
                    {{#if repos}}
                    <div id="" class="r-repo">
                        <div class="">
                            <h2 class="r-heading">Popular Repositories</h2>

                        </div>


                        <div class="r-content-list" id="">
                            {{#each repos}}
                            <div class="">
                                <h2>
                                    <a href={{this.info.html_url}}>{{this.info.name}}</a> - {{this.since}}
                                </h2>
                                <h3>{{this.info.language}}</h3>
                                <h4>{{this.info.date}}</h4>
                                <p>{{{this.info.description}}}</p>
                                <p>
                                    {{this.info.watchers}} watchers &nbsp;&nbsp;
                                    {{this.info.forks}} forks
                                    <br>
                                    {{!-- <a href={{this.info.html_url}}>View Repo</a> --}}
                                </p>
                                <br>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    {{#if contributions}}
                    <div id="" class="r-contributions">
                        <div class="">
                            <h2 class="r-heading">Popular Contributions</h2>

                        </div>


                        <div class="r-content-list" id="">
                            {{#each contributions}}
                            <div class="">
                                <h2>
                                    <a href={{this.repo_url}}>{{this.repo_name}}</a>
                                </h2>
                             
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                           {{#if orgs}}
                    <div class="r-organisation" id="">
                        <div class="">
                            <h2 class="r-heading">Organisations</h2>
                        </div>
                        
                        <div class="r-content-list" id="">

                          
                                {{#each orgs}}
                                            <h2><a href="https://github.com/{{this.info.login}}">{{this.info.login}}</a></h2>                       

                                {{/each}}
                            <br>
                        </div>

                    </div>
                    {{/if}}


        </article>
        <footer style="text-align: center; align-items:center">
            <p class="r-footer">{{user.name}} &mdash; {{#if email}}<a href="mailto:{{user.email}}">{{user.email}}</a> &mdash; {{/if}}
                {{#if website}}<a href="{{website}}" title="{{user.name}}'s website">{{website}}</a> &mdash; {{/if}} <a
                    href="https://github.com/{{user.username}}" title="GitHub profile"
                    class="url">https://github.com/{{user.username}}</a></p>
        <br><br>
        <h3 >
                    Made with     <i class="fa fa-heart" style="font-size:15px; color:red"></i> by Github Resume

        </h3>
        </footer>
    </div>
    </div>

</div>